html {
  font-family: sans-serifa;
}

body {
  margin: 0;
}

.singUp-constainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1px solid;
  padding: 10px;
}

.signUp-form {
    width: 20%;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.m10 {
  margin: 10px;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

input {
  padding: 3px;
}
.error {
  color: red;
}

h1, h2 {
  text-align: center;
}
