html {
    font-family: sans-serifa;
}

body {
    margin: 0;
}

.singUp-constainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.signUp-form { 
    border: 1px solid;
    min-width: 300px;
    padding: 10px;
    margin: 20px 0px;
}

.input-div { 
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

input {
    padding: 3px;
}
.error {
    color: red;
}

h1 {
    text-align: center;
}